// Add your less/css here... or make new files :D



.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
  background-color: @start;
  background: linear-gradient(@start, @stop) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-image: -webkit-linear-gradient(@origin, @start, @stop);
  background-image: -moz-linear-gradient(@origin, @start, @stop);
  background-image: -o-linear-gradient(@origin, @start, @stop);
  background-image: -ms-linear-gradient(@origin, @start, @stop);
  background-image: linear-gradient(@origin, @start, @stop);
}

/* Mixin */
.quick-gradient (@origin: left, @alpha: 0.2) {
  background-image: -webkit-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
  background-image: -moz-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
  background-image: -o-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
  background-image: -ms-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
  background-image: linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
}

.triangle-isosceles(@origin: left, @start: #ffffff, @stop: #000000) {
  .gradient(@origin, @start, @stop);
//  background: linear-gradient(#f9d835, #f3961c) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-color: #BADA55;
  .quick-gradient(top, 0.2);
  border-radius: 10px;
  color: #fff;
  margin: 0.5em 0em;
  padding: 15px;
  position: relative;
}

.error {
  .triangle-isosceles(left, red, #f3961c);
//  color: red;
}

.success {
  .triangle-isosceles(left, green, yellow);
}

.warn {
  .triangle-isosceles(left, #f9d835, #f3961c);
}

.none {
//  transition: all 2s ease-in-out;
//  transition: all 4s ease-out 0s;
  -moz-transition: opacity 3s ease-in-out;
  opacity: 0;
//  display: none;
}

.menu {
//  background: red;
}

.menu:active, .menu:hover {
  color: red;
  text-decoration: none;
}

#loading {
  display: none;
  float: right;
}

th.asc::after {
  color: white;
  content: ' ⬆';
}

th.desc::after {
  color: white;
  content: ' ⬇';
}